/* Root Here */
:root {
    --marginBase: 1.5rem;
}


/* Universal Here */
* {
    box-sizing: border-box;
}

/* Elements Here */
html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin: var(--marginBase);
}

section {
    border: solid black;
    height: 50rem;
    width: 92rem;
    margin: 9rem auto;
}

.score {
    border: solid navy;
    border-radius: var(--marginBase);
    background-color: rgb(11, 68, 87);
    color: white;
    padding: 0.5rem;
}

.score:hover {
    background-color: blue;    
}

.score:active {
    font-size: 1.6rem;
}