/* Root Here */
:root {
    --buttonBord: navy;
    --buttonBack: rgb(11, 68, 87);
    --marginBase: 1.5rem;
    --buttonHover: blue;
    --buttonFontCol: white;
}


/* Universal Here */
* {
    box-sizing: border-box;
}

/* Elements Here */
html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin: var(--marginBase);
}

section {
    display: flex;
    border: solid black;
    height: 50rem;
    width: 92rem;
    margin: 9rem auto;
}

.score {
    border: solid var(--buttonBord);
    border-radius: var(--marginBase);
    background-color: var(--buttonBack);
    color: var(--buttonFontCol);
    padding: 0.5rem;
}

.score:hover {
    background-color: var(--buttonHover);    
}

.score:active {
    font-size: 1.6rem;
}
